<!DOCTYPE html>
html
  head
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    title Wishlist

  = render 'layouts/header'

  body
    .alerts
      - if notice
        p.alert.alert-notice
          = notice
      - if alert
        p.alert.alert-error
          = alert

  = yield
